
@{
    ViewBag.Title = "Global";
}

<h2>Cтраница администрирования</h2>

<div><h3><a href="/Admin/CheckOrders">Список Заказов</a></h3></div>
<div><h3><a href="/Admin/Products">Редактированте товаров</a></h3></div>
<div><h3><a href="/Admin/exit">Выход</a></h3></div>