body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.indexCategory{ 
   width:260px; 
   height:300px;
  
}
.PriceFont{ 
   padding-top:5px;
   font-size:14px;
   
  
}
.NameFont{ 
   padding-top: 5px;
   height:40px;
     font-size: 14px;
}
.AllProducts{
   text-align:left;
}
.GreyFontDelivery{

   color:gray
}
.CatalogStyle{
    padding-left:20px;
     height:200px;
     width:200px;
}
.BagSize{

    width:800px;
}
.MapSize{
     height:400px;
       width:800px;
}
.AboutHSize{
    font-size:12pt;

}

.AboutH2Size{
    font-size:14pt;

}