<h2 style="color:gray">О нас</h2>
<div>
    <p>
        <h4>

            <b>«Comic Store»</b> — первый ненастоящий магазин комиксов в Минске. Мы специализируемся на продаже комиксов DC, Marvel, Vertigo, а также  российских комиксов . У нас есть доставка по Минску и по всей Беларуси. Более детальную информацию можно узнать в разделе доставка и оплата. Мы продаем только лицензионные и сертифицированные комиксы. Мы не занимаемся продажей контрафактной продукции, комиксов с фанатским переводом и тд.

        </h4>
    </p>
</div>
<script src="~/Scripts/Map.js"></script>
<h2 style="color:gray">Где мы находимся</h2>
<br />
<div id="map" class="MapSize" border:groove"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-V-yNn8Zo_Bc6N6Hq2Id8FTevxzenay0&callback=initMap">
</script>
<h2 style="color:gray">Контактная информация</h2>
<br />
<div class="row">
    <div class="col-md-3"><p class="glyphicon glyphicon-map-marker AboutHSize"><b> АДРЕС:</b></div>
    <div class="col-md-9"><p class="AboutH2Size">Улица Неизвестная 25 г.Минск </div>
    
</div>
<div class="row">
    <div class="col-md-3"><p class="glyphicon glyphicon-time AboutHSize"><b> ГРАФИК РАБОТЫ:</b></div>
    <div class="col-md-9"><p class="AboutH2Size">Без выходных с 12:00 до 20:00</div>
</div>
<div class="row">
    <div class="col-md-3"><p class="glyphicon glyphicon-earphone"><b class="AboutH2Size"> ТЕЛЕФОН:</b></div>
    <div class="col-md-9"><p class="AboutH2Size">+375(25)540-30-07</div>
</div>
<div class="row">
    <div class="col-md-3"><p class="glyphicon glyphicon-envelope"><b class="AboutHSize"> ПОЧТА:</b></div>
    <div class="col-md-9"><p class="AboutH2Size"><a href="mailto:ArtsiomDusau@Gmail.com">ArtsiomDusau@Gmail.com</a> </div>
  </div>

