@model IEnumerable<ComicsStores.Models.Category>


    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-12 col-md-2 col-xs-6">
                <p style="font-size:25px">@Html.ActionLink(item.Name, "CtegoryDet", new { id = item.Id }, new { @style = "color:black;" })</p>
            </div>

        }
    </div>

@{
    Layout = "~/Views/Shared/_LayoutCat.cshtml";
}