
@{
    ViewBag.Title = "Delivery";
}

<h2 class="GreyFontDelivery">Доставка и оплата комиксов</h2>
<p><h4>Наш магазин хочет предоставить своим клиентам максимальный комфорт. Мы понимаем, что порой не совсем удобно добираться до наших магазина если вы живете далеко или нет свободного времени. Поэтому мы предусмотрели воозможность доставки ваших любимых комиксов прямо к вам домой</h4></p>
<h3 class="GreyFontDelivery">Как купить комиксы если я живу в Минске</h3>
<ul> 
  <li>Вы можете прийти и купить комиксы в нашем офлайн магазине который работает ежедневно с 12:00 до 20:00</li>
    <li>Вы также можете оформить самовывоз.</li>
    <li>У нас есть курьерская доставка по Минску.</li>
</ul>
<h3 class="GreyFontDelivery">Оформлние курьерской доставки</h3>
<ul>
    <li><p>Для оформления доставки необхадимо при оформлении заказа выбрать пункт меню Доставка курьером</p></li>
    <li><p>Доставка осуществляется на следующий день после заказа.</p></li>
    <li><p>Менеджер перезвонит вам после оформления заказа и оговорит время доставки</p></li>
    <li><p>Стоимость доставки 7 рублей</p></li>
    <li><p>Оплата производится наличными курьеру </p></li>
</ul>
<h3 class="GreyFontDelivery">Доставка по Беларуси</h3>
<p><h4>Вы получите почтовое уведомление, после чего необходимо будет обратиться в ваше почтовое отделение произвести оплату и забрать заказ.</h4></p>
<ul>
<li><p>Для оформления доставки необхадимо при оформлении заказа выбрать пункт меню Доставка почтой</p></li>
<li><p>Доставка осуществляется в течении недели со дня оформления заказа.</p></li>
<li><p>Менеджер перезвонит вам после оформления заказа для уточнения данных</p></li>
<li><p>Стоимость доставки 7 рублей</p></li>
<li><p>Оплата производится наличными</p></li>

</ul>